.side {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: darkgrey;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .side a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: blue;
    display: block;
  }
  
  .side header {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 22px;
      color: purple;
      display: block;
    }
  
  .side a:hover {
    color: #f1f1f1;
  }
  
  code {
      width: 500px;
      background-color: silver;
      padding: 10px;
      margin: 20px;
  }
  
  .rightside {
    margin-left: 250px; /* Same as the width of the sidenav */
    font-size: 16px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .side {padding-top: 15px;}
    .side a {font-size: 18px;}
  }
  